<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <title>index cliente</title>
</head>
<body>
    <h1>Ingrese sus datos</h1>
    <form method="POST" action="agregar">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="nombre">
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" placeholder="apellido">
        <br>
        <label for="rut">Rut:</label>
        <input type="text" id="rut" name="rut" placeholder="rut">
        <br>
        <label for="email">Correo:</label>
        <input type="text" id="email" name="email" placeholder="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="password">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>