<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Email subscriptions</title>

<!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body class="container py-4">


<!--Email subscription Form -->
<form method="post" action="{% url 'mensajes' %}">
    {% csrf_token %}

    <div class="form-group">
    <label>Formulario Contacto</label> <br>
    <br> Email <br>
    <input type="email" name="email" placeholder="Ingrese Email">
    <br> Asunto <br>
    <input type="asunto" name="asunto" placeholder="Ingrese asunto">
    <br> Mensaje <br>
    <input type="text" name="mensaje" placeholder="Ingrese mensaje">

    <button class="btn btn-info" type="submit">Enviar</button>
    </div>

</form>

<!-- message if email is sent -->
{% if messages %}
{% for message in messages %}
    <div class="my-5 alert alert-success">
    <h5 class="m-0">
        {{ message }}
    </h5>
    </div>
{% endfor %}
{% endif %}

</body>
</html>