<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <title>Formulario errores</title>
    <script>
        var arreglo = new Array();
        arreglo[0]= "errorNombre";
        arreglo[1]= "errorApellido";
        arreglo[2]= "errorEmail";
        arreglo[3]= "errorUsuario";
        arreglo[4]= "errorPassword";
        arreglo[5]= "errorConfirmacion";

        function validar(){
            var entrada= new Array();
            entrada[0]= document.getElementById('nombre').value;
            entrada[1]= document.getElementById('apellido').value;
            entrada[2]= document.getElementById('email').value;
            entrada[3]= document.getElementById('user').value;
            entrada[4]= document.getElementById('password').value;
            entrada[5]= document.getElementById('confirmarpassword').value;

            var error = new Array();
            error[0] = "<span style='color:red'>Ingrese el Nombre!</span>";
            error[1] = "<span style='color:red'>Ingrese el Apellido!</span>";
            error[2] = "<span style='color:red'>Ingrese el E-mail!</span>";
            error[3] = "<span style='color:red'>Ingrese el Nombre de usuario!</span>";
            error[4] = "<span style='color:red'>Ingrese el Password!</span>";
            error[5] = "<span style='color:red'>Ingrese la confirmación del Password</span>";
        
            for (i in entrada){
                var mensajeError= error[i];
                var valorArreglo= arreglo[i];

                if (entrada[i]==''){
                    document.getElementById(valorArreglo).innerHTML=mensajeError;
                }
                else if (i==2){
                    var arroba = entrada[i].indexOf("@");
                    var punto = entrada[i].lastIndexOf(".");
                    //condiciones de invalidez
                    if(arroba<1 || punto < arroba+2 || entrada[2].length<punto+2){
                        document.getElementById('errorEmail').innerHTML=
                        "<span style='color:red'>Ingrese un E-mail válido</span>";
                    }
                    else{
                        document.getElementById('errorEmail').innerHTML=
                        "Campo válido"
                    }
                }
                else if(i==5){
                    var primero = document.getElementById('password').value;
                    var segundo = document.getElementById('confirmarpassword').value;
                    if (primero != segundo){
                        document.getElementById('errorConfirmacion').innerHTML=
                        "<span style='color:red'>Los passwords no coinciden</span>";
                    }
                    else{
                        document.getElementById('errorConfirmacion').innerHTML=
                        "Campo válido";
                    }
                }
                else{
                    document.getElementById(valorArreglo).innerHTML=
                    "Campo válido";
                }
            }
        }
        function validarTodos(){
            var contador=0;
            for (i=0; i<6;i++){
                var valorArreglo=arreglo[i];
                if(document.getElementById(valorArreglo).innerHTML== "Campo válido"){
                    contador++;
                }
            }
            if (contador==6){
                document.getElementById("mensajefinal").innerHTML = "Formulario validado!";
            }
        }
    </script>

</head>
<body>
    <br><br>
    <form action="#" method="POST">
        <div class="container">
            <div class="row text-center justify-content-md-center mb-3">
                <h2>Validando el formulario</h2>
                <br>
                <hr>
                <div class="col col-lg-1">
                    Nombre:
                </div>
                <div class="col col-lg-2">
                    <input class="form-control" type="text" id="nombre" onkeyup="validar()">
                </div>
                <div class="col col-lg-2" id="errorNombre">
                </div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                    Apellido:
                </div>
                <div class="col col-lg-2">
                    <input class="form-control" type="text" id="apellido" onkeyup="validar()">
                </div>
                <div class="col col-lg-2" id="errorApellido">
                </div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                    E-mail:
                </div>
                <div class="col col-lg-2">
                    <input class="form-control" type="text" id="email" onkeyup="validar()">
                </div>
                <div class="col col-lg-2" id="errorEmail">
                </div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                    Username:
                </div>
                <div class="col col-lg-2">
                    <input class="form-control" type="text" id="user" onkeyup="validar()">
                </div>
                <div class="col col-lg-2" id="errorUsuario"></div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                    Password:
                </div>
                <div class="col col-lg-2">
                    <input class="form-control" type="text" id="password" onkeyup="validar()">
                </div>
                <div class="col col-lg-2" id="errorPassword"></div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                    Confirmar Password:
                </div>
                <div class="col col-lg-2">
                    <input class="form-control" type="text" id="confirmarpassword" onkeyup="validar()">
                </div>
                <div class="col col-lg-2" id="errorConfirmacion"></div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                
                </div>
                <div class="col col-lg-2 d-inline-block" >
                    <input class="btn btn-warning" type="reset" value="Limpiar">
                    <input type="Button" class="btn btn-success" onclick="validar(); validarTodos();" value="Validar"> 
                </div>
                <div class="col col-lg-2"></div>
            </div>
            <div class="row text-center justify-content-md-center mb-3">
                <div class="col col-lg-1">
                </div>
                <div class="col col-lg-2" id="mensajefinal">
                </div>
                <div  class="col col-lg-2"></div>
            </div>
        </div>
    </form>
</body>
</html>