<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Caos Total</title>
</head>

<body>
    <h1>Prueba Erik Salas</h1>
    <form method="POST" action="agregar">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Enviar">
</body>

</html>