<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex_urtubia</title>
</head>
<body>
    <h1>Index Producto</h1>
    <form method="POST" action="agregar">
        {% csrf_token %}
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <br>
        <label for="codigo">Codigo: </label>
        <input type="text" id="codigo" name="codigo" placeholder="Codigo">
        <br>
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" placeholder="Categoria">
        <br>
        <label for="distribuidor">Distribuidor:</label>
        <input type="text" id="distribuidor" name="distribuidor" placeholder="Distribuidor">
        <br>
        <label for="precio_venta">Precio Venta:</label>
        <input type="text" id="precio_venta" name="precio_venta" placeholder="Precio de venta">
        <br>
        <label for="costo">Costo:</label>
        <input type="text" id="costo" name="costo" placeholder="Costo">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>