<html>
<head>
    <style>
        table { -pdf-keep-with-next: true; }
        p { margin: 0; -pdf-keep-with-next: true; }
        p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
    </style>
</head>
<body>

    <p>Keep these lines</p>
    <table><tr><td>And this table</td></tr></table>
    <p>together in one frame</p>

    <p class="separator">&nbsp;<p>

    <p>Keep these sets of lines</p>
    <p>may appear in a different frame</p>
    <p class="separator">&nbsp;<p>
        
</body>
</html>