<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Creado</title>
</head>
<body>
    <div class="container">
        <h1>Jugador Creado</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Jugador</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Equipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{perro}}</td>
                    <td>{{gato}}</td>
                    <td>{{hamster}}</td>
                </tr>
                <tr>
            </tbody>
        </table>
    </div>
</body>
</html>